* {
    margin: 0px;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

.dot-pattern {
    --dot-bg: #151c1c;
    --dot-color: white;
    --dot-size: 1px;
    --dot-space: 5px;
    background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.container {
    .main-content {
        .content {
            position: relative;
            flex: 1;
            width: auto;
            background-color: black;
            flex-direction: column;
            height: 100%;
            display: flex;

            .topdata {
                padding: 10px;
                width: auto;
                height: 4%;
                align-items: center;
                display: flex;
                flex: 1;

                span {
                    color: white;
                    padding: 10px;
                    font-size: 20px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }

                .searchbar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1px;

                    input {
                        border: none;
                        outline: none;
                        border-radius: 10px;
                        float: right;
                        padding: 6px;
                    }
                }

                .filters {
                    width: 270px;
                    margin-left: auto;
                    padding-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;

                    .explain {
                        color: white;
                        padding-left: 6px;
                        padding-right: 6px;
                        margin-top: 2px;
                        border: 1px solid #7393B3;
                        border-radius: 7px;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    }

                    .rarity {
                        cursor: pointer;
                        width: 15px;
                        height: 15px;
                        margin-right: 7px;
                        color: white;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

                        &.square {
                            width: 10px;
                            height: 10px;
                            margin-right: inherit;
                            background-color: #ccc;
                            border: 2px solid transparent;
                            transition: background-color 0.3s ease, border-color 0.3s ease;
                        }

                        &.ed { background-color: purple; }
                        &.red { background-color: red; }
                        &.orange { background-color: orange; }
                        &.yellow { background-color: yellow; }
                        &.green { background-color: green; }
                    }
                }
            }

            .parts {
                display: grid;
                overflow-y: scroll;
                width: auto;
                height: 100%;
                background-color: rgb(61, 61, 61);
                padding: 15px;
                gap: 10px;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

                .part-item {
                    width: 170px;
                    height: 200px;
                    display: flex;
                    flex-direction: column;
                    border-radius: 0;
                    border-width: 1px;
                    border-color: #bbbdb9;
                    border-style: solid;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;

                    &.marked {
                        border-color: rgb(58, 158, 181);
                    }

                    .topinfo {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        width: 85%;

                        .owned {
                            color: white;
                            font-size: 17px;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            text-decoration: underline dotted #ccc;
                        }

                        img {
                            width: 20px;
                            height: 20px;
                            object-fit: contain;
                            cursor: pointer;
                        }
                    }

                    .bottominfo {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        height: 70%;
                        width: 100%;

                        img {
                            width: 110px;
                            height: 100px;
                            padding: 10px;
                            padding-top: 0;
                            object-fit: contain;
                        }

                        .about {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: row;
                            width: 90%;
                            gap: 10px;

                            .status-color {
                                width: 14%;
                                height: 20px;
    
                                &.ed { background-color: purple; }
                                &.red { background-color: red; }
                                &.orange { background-color: orange; }
                                &.yellow { background-color: yellow; }
                                &.green { background-color: green; }
                            }
    
                            span {
                                color: white;
                                word-wrap: break-word;
                            }
                        }
                    }
                }
            }
        }
    }
}