* {
    margin: 0px;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
}

.dot-pattern {
    --dot-bg: #181317;
    --dot-color: #695a33;
    --dot-size: 1px;
    --dot-space: 5px;
    background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

.container {
    .main-content {
        .content {
            position: relative;
            flex: 1;
            width: auto;
            background-color: black;
            flex-direction: column;
            height: 100%;
            overflow-y: auto;
            display: flex;

            .topdata {
                padding: 10px;
                width: auto;
                height: 4%;
                align-items: center;
                display: flex;
                flex: 1;

                span {
                    color: white;
                    padding: 10px;
                    font-size: 20px;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }

                .viewtype {
                    display: flex;
                    margin-left: auto;
                    position: relative;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;

                    .explain {
                        color: white;
                        padding-left: 6px;
                        padding-right: 6px;
                        margin-top: 2px;
                        border: 1px solid #7393B3;
                        border-radius: 7px;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    }

                    img {
                        height: 20px;
                        width: 20px;
                        object-fit: cover;
                        padding-top: 5px;
                        cursor: pointer;
                    }
                }

                .erafilter {
                    display: flex;
                    margin-left: auto;
                    position: relative;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;

                    .explain {
                        color: white;
                        padding-left: 6px;
                        padding-right: 6px;
                        margin-top: 2px;
                        border: 1px solid #7393B3;
                        border-radius: 7px;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    }

                    img {
                        width: 25px;
                        height: 25px;
                        object-fit: contain;
                        cursor: pointer;
                    }

                    span {
                        margin-top: 4px;
                        color: white;
                        font-size: 15px;
                        cursor: pointer;
                    }
                }
                
                .filters {
                    width: 270px;
                    margin-left: auto;
                    padding-right: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;

                    .explain {
                        color: white;
                        padding-left: 6px;
                        padding-right: 6px;
                        margin-top: 2px;
                        border: 1px solid #7393B3;
                        border-radius: 7px;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    }

                    .rarity {
                        cursor: pointer;
                        width: 15px;
                        height: 15px;
                        margin-right: 7px;
                        color: white;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

                        &.square {
                            width: 10px;
                            height: 10px;
                            margin-right: inherit;
                            background-color: #ccc;
                            border: 2px solid transparent;
                            transition: background-color 0.3s ease, border-color 0.3s ease;
                        }

                        &.ed { background-color: purple; }
                        &.red { background-color: red; }
                        &.orange { background-color: orange; }
                        &.yellow { background-color: yellow; }
                        &.green { background-color: green; }
                    }
                }
            }

            .relics-icons {
                z-index: 10;
                display: none;
                overflow-y: auto;
                width: auto;
                height: 100%;
                background-color: rgb(61, 61, 61);
                padding: 15px;
                gap: 10px;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

                .relic-item {
                    width: 170px;
                    height: 170px;
                    display: flex;
                    flex-direction: column;
                    border-radius: 0;
                    border-width: 1px;
                    border-color: #bbbdb9;
                    border-style: solid;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;

                    &.marked {
                        border-color: rgb(58, 158, 181);
                    }

                    .topinfo {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        width: 85%;

                        .owned {
                            color: #9b8861;
                            font-size: 17px;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            text-decoration: underline dotted #715928;
                        }

                        /* can use for intact/rad/etc */
                        img { 
                            width: 20px;
                            height: 20px;
                            object-fit: contain;
                            cursor: pointer;
                        }
                    }

                    .bottominfo {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        height: 70%;
                        width: 100%;

                        img {
                            width: 90px;
                            height: 90px;
                            padding: 10px;
                            padding-top: 0;
                            object-fit: contain;
                        }

                        .about {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: row;
                            width: 90%;
                            gap: 10px;

                            .status-color {
                                width: 13%;
                                height: 20px;
    
                                &.ed { background-color: purple; }
                                &.red { background-color: red; }
                                &.orange { background-color: orange; }
                                &.yellow { background-color: yellow; }
                                &.green { background-color: green; }
                            }

                            span {
                                color: #9b8861;
                                word-wrap: break-word;
                            }
                        }
                    }
                }
            }

            .relic-eras {
                z-index: 30;
                display: flex;
                overflow-y: auto;
                width: auto;
                background-color: rgb(61, 61, 61);
                height: 100%;
                padding: 15px;
                gap: 10px;
                flex-direction: column;

                .era {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: auto;

                    > span {
                        height: 25px;
                        width: auto;
                        background-color: black;
                        color: white;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                        padding-left: 30px;
                        font-size: 13px;
                    }

                    .relics {
                        width: auto;
                        overflow-x: auto;
                        background-color: rgb(29, 29, 29);
                        height: 190px;
                        display: grid;
                        grid-auto-flow: column;
                        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
                        grid-gap: 30px;
                        padding: 5px;

                        .relic-item {
                            width: 170px;
                            height: 170px;
                            display: flex;
                            flex-direction: column;
                            border-radius: 0;
                            border-width: 1px;
                            border-color: #bbbdb9;
                            border-style: solid;
                            align-items: center;
                            justify-content: center;
        
                            &.marked {
                                border-color: rgb(58, 158, 181);
                            }
        
                            .topinfo {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                align-items: center;
                                width: 85%;
        
                                .owned {
                                    color: #9b8861;
                                    font-size: 17px;
                                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                                    text-decoration: underline dotted #715928;
                                }
        
                                /* can use for intact/rad/etc */
                                img { 
                                    width: 20px;
                                    height: 20px;
                                    object-fit: contain;
                                    cursor: pointer;
                                }
                            }
        
                            .bottominfo {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                height: 70%;
                                width: 100%;
        
                                img {
                                    width: 90px;
                                    height: 90px;
                                    padding: 10px;
                                    padding-top: 0;
                                    object-fit: contain;
                                }
        
                                .about {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: row;
                                    width: 90%;
                                    gap: 10px;
        
                                    .status-color {
                                        width: 13%;
                                        height: 20px;
            
                                        &.ed { background-color: purple; }
                                        &.red { background-color: red; }
                                        &.orange { background-color: orange; }
                                        &.yellow { background-color: yellow; }
                                        &.green { background-color: green; }
                                    }
        
                                    > span {
                                        color: #9b8861;
                                        word-wrap: break-word;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}